:root{
    --background-color: #1a1a2e;
    --cell-background: #2a1f3d;
    --x-color: #c084fc;
    --o-color: #67e8c4;
    --text-color: #e2c4f0; 
    --move-color: #e1a3fd; 
    --cell-button: #7c3aed; 

}

* {
  margin: 0;
  padding: 0;
}

body{
    background-color: var(--background-color);
    margin: 0;
}

.title{
    color: var(--text-color);
    align-self: center;
    font-size: 2rem;
}

.turn{
    color: var(--move-color);
    font-size: 1rem;
    padding: 0px
}

.container{
    display: grid;
    grid-template-rows: 1fr 4fr;
    place-items: center;
    gap: 0.5vh;
}

.word-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.board{
  
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: min(70vh, 70vw);
    width: min(70vw, 70vh);
    gap: 10px;
    
}



.digit-button{
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--cell-background);
    border-radius: 5px;
    border: 2px solid var(--cell-button);
}

.digit-button:hover{
    background-color: #3a2a50; 
    cursor: pointer;
}

.X{
    color: var(--x-color);
    font-size: 3rem;
}

.O{
    color: var(--o-color);
    font-size: 3rem;
}